body {
    margin: 0;
}

#scene-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#scene-container.visible {
  display: block;
}

#before-vis {
  margin: auto;
  margin-top: 10%;
  width: fit-content;
}